<div class="reusable-list">
  <div class="reusable-list__header">
    <ng-container
      *ngTemplateOutlet="
        header || defaultListHeaderTemplate;
        context: { $implicit: items }
      "
    ></ng-container>
    <ng-template #defaultListHeaderTemplate>
      <div class="reusable-list__title">{{ title }}</div>
    </ng-template>
    <ng-container
      *ngTemplateOutlet="
        searchBar || defaultSearchTemplate;
        context: { $implicit: items }
      "
    ></ng-container>

    <ng-template #defaultSearchTemplate>
      <app-search
        *ngIf="this.listApi.config.filterable"
        class="reusable-list__search"
        [placeholder]="placeholder"
        (inputSearch)="onSearch($event)"
      ></app-search>

      <div
        *ngIf="showSelectAll && listApi.renderRows.length"
        class="reusable-list__select-all"
      >
        <input
          id="select-all"
          (change)="onSelectAll()"
          [checked]="selectAll"
          type="checkbox"
        />
        <label for="select-all"> Select All </label>
      </div>
    </ng-template>
  </div>
  <div *ngIf="isLoading" class="reusable-list__loading">
    <ng-container
      *ngTemplateOutlet="loadingTemplate || defaultLoadingTemplate"
    ></ng-container>
    <ng-template #defaultLoadingTemplate>
      <div>Loading...</div>
    </ng-template>
  </div>
  <div
    (scroll)="onScroll()"
    [hidden]="isLoading"
    #content
    class="reusable-list__content"
  >
    <div
      (click)="onItemClick(item)"
      class="reusable-list__item"
      *ngFor="let item of listApi.renderRows"
    >
      <ng-container
        *ngTemplateOutlet="
          listItem || defaultListItemTemplate;
          context: { $implicit: item }
        "
      ></ng-container>
    </div>
    <div
      *ngIf="showNoItemsTemplate && !listApi.renderRows.length"
      class="reusable-list__empty"
    >
      <ng-container
        *ngTemplateOutlet="noItems || defaultNoItemsTemplate"
      ></ng-container>
      <ng-template #defaultNoItemsTemplate>
        <div>{{ notFoundMessage }}</div>
      </ng-template>
    </div>
  </div>
  <div class="reusable-list__footer">
    <ng-container
      *ngTemplateOutlet="
        footer || defaultListFooterTemplate;
        context: { $implicit: items }
      "
    ></ng-container>
    <ng-template #defaultListFooterTemplate>
      <!-- TODO maybe create a reusable button -->
      <button (click)="onContinueClick()" class="reusable-list__button">
        Continue
      </button>
    </ng-template>
  </div>
</div>

<ng-template #defaultListItemTemplate let-item>
  <app-list-item [checked]="item.selected">
    {{ item.data['firstName'] }}
    {{ item.data['lastName'] }}
  </app-list-item>
</ng-template>
