.reusable-list {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px 2px #4e4e4e;
  border-radius: 4px;
  min-height: 600px;
  &__header {
    padding: 15px;
    margin-bottom: 20px;
  }
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #9880f8;
    margin-bottom: 20px;
  }

  &__content {
    max-height: 400px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 20px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: #eee9ff;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: #d6dee1;
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background-color: #9880f8;
    }
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9880f8;
    font-weight: bold;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9880f8;
    font-weight: bold;
  }

  &__footer {
    margin-top: auto;
    padding: 15px;
    min-height: 20px;
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9880f8;
    padding: 10px 20px;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
  }

  &__select-all {
    margin-top: 5px;
    padding: 0 15px;
  }
}
