.list-item {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 16px;
  gap: 10px;
  min-height: 60px;
  padding: 0 15px;
  &--checked {
    background-color: #8d76e97c;
    font-weight: 600;
  }

  &__checkbox {
    width: 20px;
  }

  &__content {
    width: 100%;
  }
}
