.header {
  height: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: aliceblue;
  box-shadow: 0 0 2px 1px #9880f8;
  &__links {
    display: flex;
    padding: 0 10px;
    gap: 10px;
  }

  &__link {
    color: black;
    cursor: pointer;
    &--active {
      color: #9880f8;
      font-weight: bold;
    }
  }
}
